version: '3.7'

services:
  web:
    build: .
    command: python /Disfactory/manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/Disfactory
    ports:
      - 8000:8000
    depends_on:
      - db
    environment:
      DISFACTORY_BACKEND_DEFAULT_DB_NAME: disfactory_dev
      DISFACTORY_BACKEND_DEFAULT_DB_USER: postgres
      DISFACTORY_BACKEND_DEFAULT_DB_PASSWORD: cop
      DISFACTORY_BACKEND_DEFAULT_DB_HOST: db
      DISFACTORY_BACKEND_DEFAULT_DB_PORT: 5432
      DISFACTORY_ALLOWED_HOST:  dev.disfactory.tw,127.0.0.1,localhost
      DISFACTORY_IMGUR_CLIENT_ID: ''
      DISFACTORY_IMGUR_SECRET: ''

  db:
    image: mdillon/postgis:11-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      POSTGRES_DB: disfactory_dev
      POSTGRES_PASSWORD: cop

volumes:
  postgres_data:
