[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==19.3b0"
freezegun = "*"
pylint = "*"
pylint-django = "*"

[packages]
django = "==2.2.13"
"psycopg2-binary" = "==2.8.3"
djangorestframework = "==3.9.2"
python-dotenv = "==0.10.3"
requests = "*"
pillow = "*"
django-cors-headers = "*"
gunicorn = "*"
django-q = "==1.0.2"
django-db-logger = "*"
django-admin-rangefilter = "*"

[requires]
python_version = "3.7"
