@import './variables.scss';

html,
body {
  font-size: 16px;
  line-height: 1;
  color: $font-color;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: auto;
  font-family: system-ui -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

* {
  line-height: 1;
  box-sizing: border-box;
}

