.images-grid {
  .image-card {
    position: relative;
    width: calc(50% - 4px);
    display: inline-block;
    padding-top: 35%;
    height: 0px;

    &:nth-child(2n + 1) {
      margin-right: 4px;
    }

    &:nth-child(2n) {
      margin-left: 4px;
    }
  }

  img {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
