// Openlayer style overwrites
@import './variables';


.ol-control {
  background: none;
  cursor: pointer;

  &:hover {
    background: none;
  }

  button,
  button:hover,
  button:focus {
    cursor: pointer;
    background: none;
  }

  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  border: solid 1px #ffffff;
}

.ol-zoom, .ol-zoom-extent, .ol-map-search {
  background-color: $primary-color;
  border-radius: 9px;
  left: 21px;

  &:hover {
    background-color: $primary-color;
  }
}

.ol-zoom {
  top: 78px;

  .ol-zoom-in,
  .ol-zoom-out {
    border-radius: 0;
    background: none;

    &:hover, &:active, &:visited {
      background: none;
    }
  }

  .ol-zoom-in {
    border-bottom: solid 1px white;
    padding-bottom: 24px;
  }
}

.ol-zoom-extent {
  top: 161px;

  &.ol-control button {
    padding: 2px;
  }
}

.ol-map-search {
  top: 26px;
}

.ol-control button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 2rem;
  height: 2rem;

  padding: 8px;

  img {
    width: 100%;
  }
}
