@import './variables';

.page-container {
  position: fixed;

  width: 100vw;
  top: 47px;
  left: 0;
  height: calc(100% - 47px);
  background: white;
  overflow: auto;
}

.page {
  height: 100%;

  h1 {
    font-size: 36px;
    font-weight: 500;
    line-height: 1.33;
    margin-top: 0;

    color: $second-color;

    padding-right: 27px;
    padding-bottom: 16px;

    border-bottom: solid 1px $primary-color;

    margin-right: 65px;
  }

  h2 {
    font-size: 24px;
    color: $primary-color;
    border-bottom: solid 1px $primary-color;
    margin-right: 65px;
    padding-bottom: 16px;
  }

  h3 {
    color: black;
    font-size: 20px;
    font-weight: 500;
    line-height: 0.85;
    letter-spacing: 0.83px;
  }

  & > h3 {
    margin-top: 40px;
  }

  h1 + h3 {
    margin-top: 0;
  }

  label.checkbox-container {
    position: relative;
    display: flex;
    align-items: center;
    cursor: point;
    user-select: none;
    padding-left: 30px;
    height: 24px;
    font-size: 20px;

    &:not(:last-child) {
      margin-bottom: 25px;
    }

    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;

      &:checked ~ .checkbox {
        background-color: black;
      }
    }

    .checkbox {
      position: absolute;
      top: 0;
      left: 0;
      height: 24px;
      width: 24px;
      background-color: transparent;

      border-radius: 3px;
      border: solid 2px #000000;
    }

    span.line {
      display: inline-flex;
      min-width: 50px;
      flex: 1;
      height: 1px;
      background-color: black;
      margin: 0 10px;
    }

    img {
      height: 23px;
    }
  }

}
